	body{
		background 		 : #c3e3c3; 
		background-size	 : cover;
		padding 		 : 0;
		margin 			 : 0; 
	}
  
  .about{
		margin		: 70px auto;
	}

  p{
    text-indent: 30px;
    font-family: Tahoma;
  }

 /* Tema Navbar Custom */
	.navbar-inverse{
		background 		: #4cc5ad; 
		border-bottom   : 0px solid #04c5ad; 
	} 

	.navbar-inverse .navbar-brand{
		color: #ddd;
	}

	.navbar-inverse .navbar-brand:hover{
		color: #fff;
	}

	.navbar-inverse .navbar-nav > li > a {
  	color: #ddd;
	}

	.navbar-inverse .navbar-nav > li > a:hover,
	.navbar-inverse .navbar-nav > li > a:focus {
  	color: #fff;
  	background-color: transparent;
	}
	
	.navbar-inverse .navbar-nav > .active > a,
	.navbar-inverse .navbar-nav > .active > a:hover,
	.navbar-inverse .navbar-nav > .active > a:focus {
  		color: #fff;
  		background-color: #4cc5cd;
			box-sizing: content-box;
			border-bottom: 4px solid darkorange;
	}

  .navbar-inverse .navbar-toggle {
  	border-color: #04c5ad;
	}
	.navbar-inverse .navbar-toggle:hover,
	.navbar-inverse .navbar-toggle:focus {
  	background-color: #4cc5ad;
	}
	.navbar-inverse .navbar-toggle .icon-bar {
  	background-color: #fff;
	}

/* Accordion Jadi-Jadian :p */
  .wrapper{
    margin: 10px;
  }
  .wrapper a{
    font-size: 22px;
  }

  a:hover{
    text-decoration: none;
  }

  .text-center{
    margin: 0;
  }

  #sejarah,#motto,#visimisi,#komitmen{
    margin: 0;
    border-radius: 5px;
    background-color: #fff;
  }

  .content{
    padding: 0;
    height: 0;
    overflow: hidden; 
  }

  .wrapper a{
    color: #000;
  }

  .content:target{
    padding: 5px 15px;
    height: auto;
    color: #222;
  }

  h3{
    font-family: Verdana;
  }
	
.main {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

.page-header{
  border-bottom: 3px solid #eee; 
}

@media (min-width: 768px) {
  .main {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.main .page-header {
  margin-top: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .page-header{
    font-size: 24px;
  }

  .wrapper a{
    font-size: 20px;
  }

  .content{
    font-size: 13px;
  }

  .content:target{
    padding: 5px;
  }

}